.container {
  max-width: 800px;
  margin: auto;
  padding: 35px 20px;
}

.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #4ea685;
}

.editBtn {
  background: #4ea685;
  padding: 10px 18px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 6px;
  color: #0a0a0a;
  cursor: pointer;
}

.editBtn:hover {
  opacity: 0.9;
}

.type {
  font-size: 16px;
  color: #8fd8b7;
  margin-top: 5px;
  margin-bottom: 20px;
}

.box {
  background: #111;
  padding: 20px;
  border: 1px solid #1f1f1f;
  border-radius: 12px;
  margin-bottom: 20px;
}

.arabic {
  font-size: 36px;
  font-family: "Amiri", serif;
  line-height: 2;
  color: #f0f0f0;
  direction: rtl;
}

.bangla {
  font-size: 20px;
  line-height: 1.9;
  color: #e0e0e0;
}

.ref {
  font-size: 15px;
  margin-top: 10px;
  color: #888;
}
