.container {
  max-width: 750px;
  margin: auto;
  padding: 30px 20px;
}

.heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #4ea685;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: #111;
  border: 1px solid #1f1f1f;
  padding: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.type {
  font-size: 13px;
  color: #4ea685;
  margin-bottom: 6px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #f2f2f2;
}

.arabic {
  font-size: 26px;
  font-family: "Amiri", serif;
  letter-spacing: 1px;
  line-height: 1.8;
  margin-bottom: 12px;
  color: #f0f0f0;
  direction: rtl;
}

.bangla {
  font-size: 15px;
  line-height: 1.6;
  color: #cfcfcf;
  margin-bottom: 10px;
}

.refRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.creator {
  font-size: 16px;
  color: #cfcfcf;
}

.ref {
  font-size: 13px;
  color: #777;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 15px;
  }

  .heading {
    font-size: 20px;
  }

  .refRow {
    margin-top: 5px;
  }

  .creator {
    font-size: 13px;
  }

  .ref {
    font-size: 11px;
  }
}
