.noData {
  text-align: center;
  padding: 40px 20px;
  background: #111;
  border: 1px solid #1f1f1f;
  border-radius: 10px;
}

.noIcon {
  font-size: 40px;
  margin-bottom: 10px;
}

.noText {
  font-size: 18px;
  color: #4ea685;
  font-weight: 600;
  margin-bottom: 5px;
}
